.active{
    color: #0A52F6;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(/connectplus/src/component/font/Montserrat-Regular.ttf);

}
.Montserrat{
    font-family: Montserrat;
}