@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(90deg, #061c4e 59%, #739dff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg {
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  background: linear-gradient(
    212deg,
    rgba(255, 255, 255, 0.02) 11.96%,
    rgba(255, 255, 255, 0.06) 91.88%
  );
  backdrop-filter: blur(100px);
}

.gradient-btn {
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  background: linear-gradient(
    126deg,
    rgba(255, 255, 255, 0.04) 3.83%,
    rgba(255, 255, 255, 0.12) 84.75%
  );
  backdrop-filter: blur(100px);
  color: #fcfcfc;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.gradient-btn:hover {
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  background: #fbfafa;
  backdrop-filter: blur(100px);
  color: #151719;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font-small-caps {
  font-variant: small-caps;
}

.carousel {
  width: 300px !important;
}
