body{
    background-color: transparent;
   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    min-height:100vh;
    justify-content: space-between;
}

a{
    text-decoration: none;
}
@font-face {
    font-family: Montserrat;
    src: url(../component/font/Montserrat-Regular.ttf);

}
.Montserrat{
    font-family: Montserrat;
}